nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100px;*/
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.8s;
    color: white;
  }
  nav:hover {
    transition: 0.8s;
  }
  
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px #000000;
  }
  nav.black{
      background: rgba(0,0,0,0.8);
      /*height: 75px;*/
      padding : 10px 30px;
  }
  .navbar-brand {
    color: white !important;
}
.navbar-brand span{
    margin-top: 15px;
    font-size: 24px;
}
  
  .navbar-toggler i{
      color: white;
  }
  .nav-link{
      font-family: 'Staatliches',cursive;
      display: inline-block;
      text-transform: uppercase;
      font-size: 20px;
  }
  .nav-link:after{
      content: '';
      width: 0px;
      height: 2px;
      display: block;
      background: white;
      transition: 0.9s;
  }
  
  .nav-link:hover:after{
      width: 30px;
  
  }
  .dropdownLink {
      display: none;
  
  }
  /* @media(max-width:1000px){
      ul.navbar-nav li a.nav-link {
          display: block;
      }
  
      ul.navbar-nav li.dropdownLink {
          display: block;
          position: absolute;
          top: 15px;
          right: 20px;
      }
  
      } */
